<div class="row g4">
    <div class="col-md-3 m-4">
        <div class="card text-center shadow-sm">
            <img src="../../assets/a5.jpeg" class="rounded-circle mx-auto mt-3" width="80" height="80" alt="Avatar">
            <div class="card-body">
                <h6 class="mb-1">Hieu Nguyen</h6>
                <div class="text-primary mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="photo-count me-3"> 
                            <span class="fw-bold d-block count-number">22</span> <span class="d-block count-label">PHOTOS</span>
                        </div>
                        <div class="album-count"> <span class="fw-bold d-block count-number">105</span>
                            <span class="d-block count-label">ALBUMS</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="is-following follow-btn">
                        <p class="following-text follow-text-label">Follow</p>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 m-4">
        <div class="card text-center shadow-sm">
            <img src="../../assets/a5.jpeg" class="rounded-circle mx-auto mt-3" width="80" height="80" alt="Avatar">
            <div class="card-body">
                <h6 class="mb-1">Hieu Nguyen</h6>
                <div class="text-primary mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="photo-count me-3"> 
                            <span class="fw-bold d-block count-number">22</span> <span class="d-block count-label">PHOTOS</span>
                        </div>
                        <div class="album-count"> <span class="fw-bold d-block count-number">105</span>
                            <span class="d-block count-label">ALBUMS</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="is-following follow-btn">
                        <p class="following-text follow-text-label">Follow</p>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 m-4">
        <div class="card text-center shadow-sm">
            <img src="../../assets/a5.jpeg" class="rounded-circle mx-auto mt-3" width="80" height="80" alt="Avatar">
            <div class="card-body">
                <h6 class="mb-1">Hieu Nguyen</h6>
                <div class="text-primary mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="photo-count me-3"> 
                            <span class="fw-bold d-block count-number">22</span> <span class="d-block count-label">PHOTOS</span>
                        </div>
                        <div class="album-count"> <span class="fw-bold d-block count-number">105</span>
                            <span class="d-block count-label">ALBUMS</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="is-following follow-btn">
                        <p class="following-text follow-text-label">Follow</p>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 m-4">
        <div class="card text-center shadow-sm">
            <img src="../../assets/a5.jpeg" class="rounded-circle mx-auto mt-3" width="80" height="80" alt="Avatar">
            <div class="card-body">
                <h6 class="mb-1">Hieu Nguyen</h6>
                <div class="text-primary mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="photo-count me-3"> 
                            <span class="fw-bold d-block count-number">22</span> <span class="d-block count-label">PHOTOS</span>
                        </div>
                        <div class="album-count"> <span class="fw-bold d-block count-number">105</span>
                            <span class="d-block count-label">ALBUMS</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="is-following follow-btn">
                        <p class="following-text follow-text-label">Follow</p>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 m-4">
        <div class="card text-center shadow-sm">
            <img src="../../assets/a5.jpeg" class="rounded-circle mx-auto mt-3" width="80" height="80" alt="Avatar">
            <div class="card-body">
                <h6 class="mb-1">Hieu Nguyen</h6>
                <div class="text-primary mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="photo-count me-3"> 
                            <span class="fw-bold d-block count-number">22</span> <span class="d-block count-label">PHOTOS</span>
                        </div>
                        <div class="album-count"> <span class="fw-bold d-block count-number">105</span>
                            <span class="d-block count-label">ALBUMS</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="is-following follow-btn">
                        <p class="following-text follow-text-label">Follow</p>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 m-4">
        <div class="card text-center shadow-sm">
            <img src="../../assets/a5.jpeg" class="rounded-circle mx-auto mt-3" width="80" height="80" alt="Avatar">
            <div class="card-body">
                <h6 class="mb-1">Hieu Nguyen</h6>
                <div class="text-primary mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="photo-count me-3"> 
                            <span class="fw-bold d-block count-number">22</span> <span class="d-block count-label">PHOTOS</span>
                        </div>
                        <div class="album-count"> <span class="fw-bold d-block count-number">105</span>
                            <span class="d-block count-label">ALBUMS</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="is-following follow-btn">
                        <p class="following-text follow-text-label">Follow</p>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 m-4">
        <div class="card text-center shadow-sm">
            <img src="../../assets/a5.jpeg" class="rounded-circle mx-auto mt-3" width="80" height="80" alt="Avatar">
            <div class="card-body">
                <h6 class="mb-1">Hieu Nguyen</h6>
                <div class="text-primary mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="photo-count me-3"> 
                            <span class="fw-bold d-block count-number">22</span> <span class="d-block count-label">PHOTOS</span>
                        </div>
                        <div class="album-count"> <span class="fw-bold d-block count-number">105</span>
                            <span class="d-block count-label">ALBUMS</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="is-following follow-btn">
                        <p class="following-text follow-text-label">Follow</p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>