<% content_for :head_css do %>
  <%= stylesheet_link_tag 'pages/users/photos/index' %>
<% end %>
<div class="container-fluid main-content px-4">
  <div class="row">
      <%= render 'shared/user_sidebar'%>
      <div class="col-lg-9">
        <div class="main-workspace">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4" id="photo-list">
              <%= render 'shared/tab'%>
          </div>
          <%= turbo_frame_tag "load_more", src: users_photos_path(format: :turbo_stream), loading: :lazy%>
          <div id="loadingSpinner" class="loading-spinner-container">
              <div class="loader">
                  <span></span>
              </div>
          </div>  
        </div>
      </div>
  </div>
</div>

