<% content_for :head_css do %>
  <%= stylesheet_link_tag 'pages/users/albums/new' %>
<% end %>

<div class="container-fluid main-content px-4">
    <div class="row">
        <%= render 'shared/user_sidebar'%>
        <div class="col-lg-9 px-0 mb-0">
            <div class="new-item-workspace row row-cols-1 row-cols-md-2 row-cols-lg-2 px-0 mb-0">
                <div class="col col-lg-12 d-flex flex-column">
                    <div class="col-lg-12 mb-4 card-header">
                        <h2 class="edit-photo-title">Add Album</h2>
                        <%= link_to "Back", users_albums_path, class: "btn btn-dark back-button" %>
                    </div>
                    <div class="under"></div>
                    <div class="card p-4">
                        <%=render partial: "users/albums/shared/form_edit", locals: {form_url: users_album_path(@album), form_method: :patch} %>
                    </div>
                </div>                 
            </div>
        </div>
    </div>
</div>
