<div class="col-lg-2 mb-4">
    <div class="sidebar">
        <ul class="nav flex-column">
            <li class="nav-item">
                <%= link_to "Feeds", users_photos_path, id: "feedField", class: "nav-link #{'active' if current_page?(users_photos_path)}",
                            "aria-current": (current_page?(users_photos_path) ? "page" : nil) %>
            </li>
            <li class="nav-item">
                <%= link_to "Discover", users_albums_path, id: "discoverField", class: "nav-link #{'active' if current_page?(users_albums_path)}",
                            "aria-current": (current_page?(users_albums_path) ? "page" : nil) %>
            </li>
        </ul>
    </div>
</div>


