<div class="col-lg-2 mb-4">
    <div class="sidebar">
        <ul class="nav admin flex-column">
            <li class="nav-item">
                <%= link_to "Manage Photos", admin_dashboard_photo_index_path, id: "photoField", class: "nav-link #{'active' if current_page?(admin_dashboard_photo_index_path)}",
                            "aria-current": (current_page?(admin_dashboard_photo_index_path) ? "page" : nil) %>
            </li>
            <li class="nav-item">
                <%= link_to "Manage Albums", admin_dashboard_album_index_path, id: "albumField", class: "nav-link #{'active' if current_page?(admin_dashboard_album_index_path)}",
                            "aria-current": (current_page?(admin_dashboard_album_index_path) ? "page" : nil) %>
            </li>
            <li class="nav-item">
                <%= link_to "Manage Users", admin_dashboard_user_index_path, id: "userField", class: "nav-link #{'active' if current_page?(admin_dashboard_user_index_path)}",
                            "aria-current": (current_page?(admin_dashboard_user_index_path) ? "page" : nil) %>
            </li>
        </ul>
    </div>
</div>


