<% content_for :head_css do %>
  <%= stylesheet_link_tag 'components/tab' %>
<% end %>
<div class="col col-lg-12">
    <div class="d-flex mb-4 justify-content-center">
        <div class="btn-group btn-group-tab" role="group" aria-label="Photo Album Tabs" data-controller="tab">
            <button type="button" 
            class="btn <%= 'active' if @tab == 'photo'%>"
            id="photoTabBtn" data-tab-target="photoTab" data-action="click->tab#goToPhoto">PHOTO</button>
            <button type="button" 
            class="btn <%= 'active' if @tab == 'album' %>"
            id="albumTabBtn" data-tab-target="albumTab" data-action="click->tab#goToAlbum">ALBUM</button>
        </div>
    </div>
</div>

