.main-content {
  padding: 20px;
  .admin-workspace {
    background-color: white;
    padding: 20px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .card-post {
      background-color: #e4e6eb;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;

      .card-img-top {
        position: relative;
        height: 200px;
        width: 200px;
        flex-shrink: 0;
        flex-grow: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
        }

        .photo-title{
          position: absolute;
          z-index: 5;
          top: 0;
          background: #000000;
          color: #FFFFFF;
          width: 100%;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 50%;
          .photo-title-text {
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 75%;
          }

          .photo-edit-btn {
            height: 100%;
            color: #ffffff;
            font-size: 14px;
            opacity: 0.9;
            transition: opacity 0.2s ease;

            &:hover {
              opacity: 1;
            }

            img {
              width: 24px;
              height: 18px;
            }
          }
        }
      }
    }
  }
  .paginate-bar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modal-body {
  width: 100%;
  height: 500px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
