.navbar-custom {
    background-color: #4267b2;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100; 
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .btn {
    color: white;
    font-weight: bold;
}
.navbar-custom .navbar-brand {
    text-align: end;
}
.navbar-nav {
    display: flex;
    gap: 40px;
}