.sidebar {
    background-color: #f0f2f5;
    padding: 15px;
    position: sticky;
    top: 90px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li a {
    display: block;
    padding: 8px;
    padding-left: 80px;
    padding-right: 0;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
.sidebar ul li a:hover {
    color: #4267b2;
}

.sidebar .nav-link.active{
    color: #4267b2;
    font-weight: bold;
}

.form-control.search-bar {
    width: 600px;
}