
body {
    background-color: #f0f2f5; 
    padding-top: 70px   ;
}
.navbar-custom {
    background-color: #4267b2;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100; 
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .btn {
    color: white;
    font-weight: bold;
}
.navbar-custom .navbar-brand {
    text-align: end;
}
.navbar-nav {
    display: flex;
    gap: 40px;
}
.sidebar {
    background-color: #f0f2f5;
    padding: 15px;
    position: sticky;
    top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li a {
    display: block;
    padding: 8px;
    padding-right: 0;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
.sidebar ul li a:hover {
    /* border-radius: 4px; */
    color: #4267b2;
}

.sidebar .nav-link.active{
    color: #4267b2;
    font-weight: bold;
}

.form-control {
    width: 600px;
}
.main-content {
    padding-top: 20px;
}
.main-workspace {
    background-color: white;
    margin-top: 20px;
}

.album-post {
    display: flex;
    background-color: #e4e6eb;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    margin-bottom: 20px;
}

.album-post .album-body {
    flex: 1;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.album-thumbnail-stack {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
}

.album-thumbnail-img {
    position: absolute;
    width: 160px;
    height: 160px;
    object-fit: cover; 
    border: 1px solid #e4e6eb;
}

.album-img-front { 
    z-index: 3;
    transform: rotate(0deg); 
}

.album-img-middle {
    z-index: 2;
    transform: rotate(5deg); 
}

.album-img-back { 
    z-index: 1;
    transform: rotate(10deg); 
}