
body {
    background-color: #f0f2f5; 
    padding-top: 70px   ;
}
.navbar-custom {
    background-color: #4267b2;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100; 
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .btn {
    color: white;
    font-weight: bold;
}
.navbar-custom .navbar-brand {
    text-align: end;
}
.navbar-nav {
    display: flex;
    gap: 40px;
}
.sidebar {
    background-color: #f0f2f5;
    padding: 15px;
    position: sticky;
    top: 90px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li a {
    display: block;
    padding: 8px;
    padding-left: 80px;
    padding-right: 0;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
.sidebar ul li a:hover {
    /* border-radius: 4px; */
    color: #4267b2;
}

.sidebar .nav-link.active{
    color: #4267b2;
    font-weight: bold;
}

.form-control {
    width: 600px;
}
.main-content {
    padding-top: 20px;
}
.main-workspace {
    background-color: white;
    margin-top: 20px;
}

.album-post {
    display: flex;
    background-color: #e4e6eb;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    margin-bottom: 20px;
}

.album-post .album-body {
    flex: 1;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.album-post .user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album-post .user-info .user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.album-body .user-info .is-following {
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    padding: 0px 10px; 
    height: 20px; 
    border-radius: 10px; 
    border: 1px solid #ff7e5f; 
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.is-following .following-text {
    font-weight: bold;
    font-size: 0.8em; 
    margin: 0;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.album-body .user-info .is-following.active {
    background: linear-gradient(to right, #ff7e5f, #feb47b); 
}
.is-following .following-text.active {
    color: white; 
    -webkit-background-clip: unset; 
    -webkit-text-fill-color: initial;
    background-clip: unset;
    background: none; 
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.user-info .user-name {
    margin-right: auto;
    margin-bottom: 0;
}

.album-post .user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 8px;
}

.album-post .user-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.card-post .user-avatar span{
    background-color: #4267b2; 
    color: white; 
    border-radius:50%; 
    width:100%; 
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.album-post .user-name {
    color: #4267b2;
}
.album-post .post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #e4e6eb;
    font-size: 0.9em;
    color: #65676b;
    font-size: 13px;
    margin-top: auto;
}
.album-post .post-actions span {
    display: flex;
    align-items: center;
}
.album-post .post-actions svg {
    margin-right: 5px;
}

.album-body h6{
    font-weight: bold;
    font-size: 13px;
}
.album-body .album-text {
    overflow: auto;
    height: 130px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 13px;
}

.album-modal-imag img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto; 
    object-fit: cover;
}

.album-modal-image {
  max-height: 75vh;
  max-width: 90%;
  border-radius: 12px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btn-group-tab {
    border: 1px solid #4267b2; 
    border-radius: 8px; 
    overflow: hidden;
}

.btn-group-tab .btn {
    background-color: white;
    color: black; 
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: all 0.3s ease; 
    border-radius: 0;
}

.btn-group-tab .btn:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.btn-group-tab .btn:last-child {
    border-top-right-radius: 7px; 
    border-bottom-right-radius: 7px; 
}

.btn-group-tab .btn.active {
    background-color: #4267b2; 
    color: white; 
}

.btn-group-tab .btn:hover:not(.active) {
    background-color: #f0f2f5; 
}

.btn-group-tab .btn:focus {
    box-shadow: none;
    outline: none;
}

#modalDescription {
    text-align: left;
    padding-top: 20px;
}

.heart-button {
    cursor: pointer; 
    user-select: none;
    border: none;
    background: none;
    display: flex;
}

.heart-button svg {
    transition: transform 0.2s ease-in-out, fill 0.2s ease-in-out; 
}

.heart-button svg.bi-heart {
    fill: #6c757d; 
}

.heart-button.liked svg.bi-heart-fill {
    fill: #4267b2; 
    transform: scale(1.1); 
}

.heart-button.liked .heart-count {
    color: #4267b2;
}

.album-thumbnail-stack {
    flex: 1;
    position: relative;
    width: 100%;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
}

.album-thumbnail-img {
    position: absolute;
    width: 215px;
    height: 215px;
    object-fit: cover; 
    border: 1px solid #e4e6eb;
}

.album-img-front { 
    z-index: 3;
    transform: rotate(0deg); 
}

.album-img-middle {
    z-index: 2;
    transform: rotate(5deg); 
}

.album-img-back { 
    z-index: 1;
    transform: rotate(10deg); 
}