
body {
    background-color: #f0f2f5; 
    padding-top: 70px   ;
}
.navbar-custom {
    background-color: #4267b2;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100; 
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .btn {
    color: white;
    font-weight: bold;
}
.navbar-custom .navbar-brand {
    text-align: end;
}
.navbar-nav {
    display: flex;
    gap: 40px;
}
.sidebar {
    background-color: #f0f2f5;
    position: sticky;
    top: 90px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li a {
    display: block;
    font-size: 15px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding-left: 80px;
}
.sidebar ul li a:hover {
    border-radius: 4px;
    color: #4267b2;
}
.form-control {
    width: 300px;
    
}
.main-content {
    padding-top: 20px;
}
.main-workspace {
    background-color: white;
    padding: 20px;
}

.main-workspace img{
    width: 125px;
    height: 125px;
    object-fit: cover;
}

.card {
    max-width: 800px;
    /* max-height: 800px;  */
    margin: 0 auto; 
    border: none;
}
.card .input-field{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
h2{
    font-size: 15px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    border-bottom: 2px solid #E0E0E0;
}
.avatar-upload-container {
    position: relative;
}

.profile-edit-avatar {
    border-radius: 15px;
    object-fit: cover; 
}

.change-avatar-overlay {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
    width: 100%;
    text-align: center;
    padding-bottom: 25px; 
}

.change-avatar-overlay .btn {
    font-size: 0.8em;
    font-weight: bold;
    color: black;
    background: #FFFFFF;
    opacity: 0.7;
}

.form-name h5 {
    color: #3C5999;
    font-weight: 600;
    font-size: 18px;
}

.form-label {
    font-weight: bold;
    color: #555;
}
.save-button, .form-name {
    width: 300px;
    justify-self: flex-start;
    margin-left: auto;
}
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

hr.my-5 {
    border-top: 1px solid #dee2e6;
}