.main-content {
  .admin-workspace {
    background-color: white;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    .paginate-bar{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}